<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{  this.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <zxing-scanner
    (scanSuccess)="onCodeResult($event)"
  >

  </zxing-scanner>

  <section class="results">
    <div>
      <small>Result</small>
      <strong>{{ this.qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">&times;</button>
  </section>
</ion-content>
