<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <section class="results">
        <div>
          <small>Result</small>
          <strong>{{  this.name }}</strong>
          <strong>{{  this.kcal }}</strong>
          <strong>{{  this.protein }}</strong>
        </div>
      </section>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-select
      [value]="deviceSelected"
      (change)="onDeviceSelectChange($event.toString())"
      label="Select Camera"
      label-placement="fixed"
      placeholder="Favorite fruit"
    >
      @for (device of availableDevices ; track device) {
        <ion-select-option [value]="device.deviceId">{{ device.label }}</ion-select-option>
      }

    </ion-select>
  </ion-item>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <zxing-scanner
    [torch]="torchEnabled"
    [device]="deviceCurrent"
    (deviceChange)="onDeviceChange($event)"
    (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled"
    [tryHarder]="true"
    (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)"
    (torchCompatible)="onTorchCompatible($event)">

  </zxing-scanner>
</ion-content>
